<head>
    <meta charset="utf-8">
    <title>Übercharges</title>
</head>

<header>
    <img src="{{ url_for('static', filename='logooficial1.png') }}" class="cabeçalho" alt="Logo übercharges">
</header>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bonito3.css') }}">
<form action="/ADM" method="POST">
    <div id="container2">
        <div class="row">
            <div class="column-3 column label">
                <label for="txtLogon">Nome</label>
            </div>
            <div class="column-9 column input">
                <input type="text" id="txtLogon" name="nome" />
            </div>
        </div>
        <div class="row">
            <div class="column-3 column label">
                <label for="txtPassword">Senha</label>
            </div>
            <div class="column-9 column input">
                <input type="password" id="txtPassword" name="senha" />
            </div>
        </div>
        <div class="row">
            <div class="column-3 column label">
                <label for="txtPassword">CPF</label>
            </div>
            <div class="column-9 column input">
                <input type="text" id="txtLogon" name="CPF" />
            </div>
        </div>
        <div class="bot">
            <input class="botao" id="botaologin" type="submit" name="button" value="Cadastrar">
        </div>
        <div class="bot1">
            <input class="botao" id="botaocadastrar" type="submit" name="button" value="Voltar">
        </div>
    </div>
</form>