<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>CPF de administrador incorreto</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bonito.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='logooficial1.png') }}" class="cabeçalho" alt="Logo übercharges">

    </header>
    <main>
        <form action="/ADMnaocadastrado" method="POST">
            <section>
                <h1>
                    <style type="text/css">
                        h1 {
                            color: white;
                        }
                    </style>
                    <h1>CPF de administrador incorreto!</h1>
                    <input class="botao" id="botãovoltar" type="submit" name="button" value="Voltar">
            </section>
        </form>
        </section>
    </main>
    <div>
    </div>
</body>

</html>