<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Übercharges</title>
    <link rel="stylesheet" href="bonito.css">
</head>

<body>
    <header>
        <img src="logooficial1.png" class="cabeçalho" alt="Logo übercharges">
    </header>
    <main>
        <br><br>
        <form action="/" method="POST">
            <section>
                <label>Motorista:</label><br>
                <label for="valor">Valor:<label> 
                    <input id="valor" type="number" name="senha" placeholder="Digite o valor da carga"> <br> <br>
                    <label for="custo">Custo de Combustível:<label> 
                    <input id="custo" type="number" name="CustoCombustivel" placeholder="Digite o gasto com combustível"> <br> <br>
                    <label for="pedagio">Pedágio:<label> 
                    <input id="pedagio" type="number" name="pedagio" placeholder="Digite o valor do pedágio"> <br> <br>
                     <label>% do Motorista:</label><br>
                <label>Lucro:</label><br><br>
                <input type="checkbox"> Tem certeza ? <br/><br>
                <input class="botao" id="botaovoltar" type="submit" name="button" value="Continuar"> &emsp;
                <input class="botao" id="botaovoltar" type="submit" name="button" value="Voltar">
            </section>
        </form>
        </section>
    </main>

</body>

</html>