<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Comfirmado</title>
    <link rel="stylesheet" href="bonito.css">
</head>

<body>
    <header>
        <img src="logooficial1.png" class="cabeçalho" alt="Logo übercharges">
    </header>
    <main>
        <form action="/" method="POST">
            <section>
                <h1>
                    <style type="text/css">
                        h1 {
                            color: white;
                        }
                    </style>
                    <h1>Viagem Confirmada!</h1>
                    <input class="botao" id="botãovoltar" type="submit" name="button" value="Voltar">
            </section>
        </form>
        </section>
    </main>
    <div>
    </div>
</body>

</html>